*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
target
jinterface
floaty-field
src/main/resources/erlyberly/beam/erlyberly.beam

# maven release stuff
pom.xml.releaseBackup
release.properties

# IntelliJ

.idea/*
!.idea/workspace.xml
!.idea/misc.xml
!.idea/compiler.xml
!.idea/modules.xml
!.idea/vcs.xml
!.idea/encodings.xml
