
/* 
 * used to show trace logs for functions that returned errors.
 */

.table-row-cell:exception {
    -fx-background-color: #F9F2F4;
}
.table-row-cell:exception > .table-cell {
    -fx-text-fill: #C7254E;
}

.table-row-cell:exception:odd {
    /* make the background a little darker for alternate cells */
    -fx-background-color: #F1E0E4;
}
.table-row-cell:exception:odd > .table-cell {
    -fx-text-fill: #C7254E;
}

.table-row-cell:exception:selected {
    /* invert the colours when the cell is selected */
    -fx-background-color: #C7254E;
}
.table-row-cell:exception:selected > .table-cell {
    /* invert the colours when the cell is selected */
    -fx-text-fill: white;
}

/*
 * show function calls that have not completed yet with a yellow bg and
 * brown text.
 */

.table-row-cell:not-completed {
    -fx-background-color: #FFEB9C;
}
.table-row-cell:not-completed > .table-cell {
    -fx-text-fill: #9C6500;
}

.table-row-cell:not-completed:odd {
    /* make the background a little darker for alternate cells */
    -fx-background-color: #FFD93E;
}
.table-row-cell:not-completed:odd > .table-cell {
    -fx-text-fill: #9C6500;
}

.table-row-cell:not-completed:selected {
    /* invert the colours when the cell is selected */
    -fx-background-color: #9C6500;
}
.table-row-cell:not-completed:selected > .table-cell {
    -fx-text-fill: #FFEB9C;
}

/*
 * remove the bottom line border to avoid a double border line
 */

.tool-bar:horizontal {
    -fx-background-insets: 0;
}

/*
 * dev-time layout debugging
 */

.debug {
    -fx-border-color: red;
    -fx-border-width: 1;
}

/*
 * increase text size for read only floaty fields
 */

.floaty-label .text-field {
	-fx-font-size: 1.7em;
}

/*
 * off-black text for icon buttons
 */

.erlyberly-icon-button {

}

.tree-cell:selected > * > .erlyberly-icon-button:hover {
    -fx-text-fill: #323232;
}

.erlyberly-icon-button:hover {
    -fx-text-fill: #039ED3;
}

/*
 * allow decent rendering when a floaty-label gets put in the overflow
 * list of a tool bar
 * TODO put this in the floaty-field css
 */

.menu-item:focused > .floaty-label .text-field {
    -fx-text-fill: white;
}

.menu-item:focused > .floaty-label .label {
    -fx-text-fill: white;
}

.record-label {
    -fx-background-color: #039ED3;
    -fx-text-fill: white;
    -fx-background-radius: 5;
}

.mod-src{
    -fx-font: 1.0em "monospace";
}


.tree-table-row-cell {
    -fx-background-color: -fx-table-cell-border-color, -fx-control-inner-background;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
    -fx-text-fill: -fx-text-inner-color;
}
.tree-table-row-cell:selected {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-focus-color;
    -fx-background-insets: 0, 1, 2;
}

.tree-table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, derive(-fx-control-inner-background,-5%);
    -fx-background-insets: 0, 0 0 1 0;
}

.tree-table-row-cell:selected:odd {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-focus-color;
    -fx-background-insets: 0, 1, 2;
}